<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About - Kati Kloppenborg</title>
        <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/assets/img/bee-icon-2.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@300;400;500;600;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
    </head>
    <body>
        <div id="header">
            <!-- You can include the header content here or keep it separate -->
            <header>
                <div class="container">
                    <nav class="navbar">
                        <a href="/" class="artist"><h2 id="siteheading">Kati Kloppenborg</h2></a>
                        <ul class="nav-menu">
                            <li class="nav-link"><a href="{{ site.baseurl }}/about.html">Infos</a></li>
                        </ul>
                    </nav>
                </div>
            </header>
        </div>
        <div id="content">
            <div class="content-wrapper">
                <section class="contact-details">
                    <div>
                        <a class="contact" href="mailto:ka.kloppenborg@gmail.com">ka.kloppenborg@gmail.com</a>
                        <a class="contact" href="https://www.instagram.com/xati_____/">instagram</a>
                    </div>
                </section>
            </div>
        </div>
    </body>
</html>
