<html lang="en"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kati Kloppenborg</title>
    <link rel="icon" type="image/x-icon" href="/assets/img/bee-icon-2.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@300;400;500;600;700&amp;family=Open+Sans:ital,wght@0,300..800;1,300..800&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <div id="header"><header>
<div class="container">
    <nav class="navbar">
        <a href="/" class="artist"><h2 id="siteheading">Kati Kloppenborg</h2></a>
        <ul class="nav-menu">
            <li class="nav-link"><a href="/about.html">Infos</a></li>
        </ul>
    </nav>
</div>
</header></div>
    <div id="content">
                <div class="content-wrapper">
                    <section class="image-gallery">
                        <div>
                            <a href="/paintings/montgallet/"><img src="/assets/img/montgallet.png" alt="Valentines in Montgallet station" width="600px" loading="lazy"></a>
                        
                            <a href="/paintings/aldisnow/"><img src="/assets/img/aldi-snow.png" alt="Snowscape" width="600px" loading="lazy"></a>
                        
                            <a href="/paintings/chezcharlette/"><img src="/assets/img/chez-charlette-2.png" alt="Chez Charlette" width="600px" loading="lazy"></a>
                        
                            <a href="/paintings/flowersoberkampf/"><img src="/assets/img/flowers-oberkampf.png" alt="Bouquet in the apartment at Oberkampf" width="600px" loading="lazy"></a>
                        
                            <a href="/paintings/pingpong/"><img src="/assets/img/pingpong.png" alt="Ping pong in Brittany" width="600px" loading="lazy"></a>
                        
                            <a href="/paintings/bee/"><img src="/assets/img/bee.png" alt="Carnival at the shooting club, 1994" width="600px" loading="lazy"></a>
                        
                            <a href="/paintings/planteye/"><img src="/assets/img/plant-eye.png" alt="Houseplants" width="600px" loading="lazy"></a>
                        
                            <a href="/paintings/valentineoffice/"><img src="/assets/img/valentine-office.png" alt="Valentine's in the office" width="600px" loading="lazy"></a>
                        
                            <a href="/paintings/totalcare/"><img src="/assets/img/totalcare.png" alt="Total Care" width="600px" loading="lazy"></a>
                        
                            <a href="/paintings/flowerpattern/"><img src="/assets/img/pattern-flowers-square.png" alt="That blouse" width="600px" loading="lazy"></a>
                        
                            <a href="/paintings/bastille/"><img src="/assets/img/bastille.png" alt="Bastille Metro Station" width="600px" loading="lazy"></a>
                        
                            <a href="/paintings/smiley/"><img src="/assets/img/smileychantier-paintingonly.png" alt="Smiley" width="600px" loading="lazy"></a>
                        
                            <a href="/paintings/sundaymorning/"><img src="/assets/img/sunday-morning-2.png" alt="Sunday morning" width="600px" loading="lazy"></a>
                        
                            <a href="/paintings/serge/"><img src="/assets/img/serge.png" alt="Ouch" width="600px" loading="lazy"></a>
                        
                            <a href="/paintings/flowerpot/"><img src="/assets/img/flowerpot.png" alt="Pot de Fleurs" width="600px" loading="lazy"></a>
                        </div>
                    </section>
                </div>
            </div>
</body>
</html>