<html lang="en"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kati Kloppenborg</title>
    <link rel="icon" type="image/ico" href="/assets/img/bee-icon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@300;400;500;600;700&amp;family=Open+Sans:ital,wght@0,300..800;1,300..800&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <div id="header"><header>
<div class="container">
    <nav class="navbar">
        <a href="/" class="artist"><h2 id="siteheading">Kati Kloppenborg</h2></a>
        <ul class="nav-menu">
            <li class="nav-link"><a href="/about.html">Infos</a></li>
        </ul>
    </nav>
</div>
</header></div>
    <div id="content">
        <div class="content-wrapper">
            <section class="image-gallery">
            <div>
                <a href="/paintings/montgallet/">
                <picture>
                    <source 
                    srcset="/assets/img/montgallet-400.webp 400w,
                            /assets/img/montgallet-800.webp 800w,
                            /assets/img/montgallet-1200.webp 1200w"
                    type="image/webp"
                    sizes="(max-width: 32rem) 100vw, (max-width: 48rem) 50vw, 33vw">
                    <img 
                    src="/assets/img/montgallet-800.png"
                    srcset="/assets/img/montgallet-400.png 400w,
                            /assets/img/montgallet-800.png 800w,
                            /assets/img/montgallet-1200.png 1200w"
                    sizes="(max-width: 32rem) 100vw, (max-width: 48rem) 50vw, 33vw"
                    alt="Valentines in Montgallet station"
                    loading="lazy"
                    style="height:auto;">
                </picture>
                </a>

                <a href="/paintings/aldisnow/">
                <picture>
                    <source 
                    srcset="/assets/img/aldi-snow-400.webp 400w,
                            /assets/img/aldi-snow-800.webp 800w,
                            /assets/img/aldi-snow-1200.webp 1200w"
                    type="image/webp"
                    sizes="(max-width: 32rem) 100vw, (max-width: 48rem) 50vw, 33vw">
                    <img 
                    src="/assets/img/aldi-snow-800.png"
                    srcset="/assets/img/aldi-snow-400.png 400w,
                            /assets/img/aldi-snow-800.png 800w,
                            /assets/img/aldi-snow-1200.png 1200w"
                    sizes="(max-width: 32rem) 100vw, (max-width: 48rem) 50vw, 33vw"
                    alt="Snowscape"
                    loading="lazy"
                    style="height:auto;">
                </picture>
                </a>

                <a href="/paintings/chezcharlette/">
                <picture>
                    <source 
                    srcset="/assets/img/chez-charlette-2-400.webp 400w,
                            /assets/img/chez-charlette-2-800.webp 800w,
                            /assets/img/chez-charlette-2-1200.webp 1200w"
                    type="image/webp"
                    sizes="(max-width: 32rem) 100vw, (max-width: 48rem) 50vw, 33vw">
                    <img 
                    src="/assets/img/chez-charlette-2-800.png"
                    srcset="/assets/img/chez-charlette-2-400.png 400w,
                            /assets/img/chez-charlette-2-800.png 800w,
                            /assets/img/chez-charlette-2-1200.png 1200w"
                    sizes="(max-width: 32rem) 100vw, (max-width: 48rem) 50vw, 33vw"
                    alt="Chez Charlette"
                    loading="lazy"
                    style="height:auto;">
                </picture>
                </a>

                <a href="/paintings/flowersoberkampf/">
                <picture>
                    <source 
                    srcset="/assets/img/flowers-oberkampf-400.webp 400w,
                            /assets/img/flowers-oberkampf-800.webp 800w,
                            /assets/img/flowers-oberkampf-1200.webp 1200w"
                    type="image/webp"
                    sizes="(max-width: 32rem) 100vw, (max-width: 48rem) 50vw, 33vw">
                    <img 
                    src="/assets/img/flowers-oberkampf-800.png"
                    srcset="/assets/img/flowers-oberkampf-400.png 400w,
                            /assets/img/flowers-oberkampf-800.png 800w,
                            /assets/img/flowers-oberkampf-1200.png 1200w"
                    sizes="(max-width: 32rem) 100vw, (max-width: 48rem) 50vw, 33vw"
                    alt="Bouquet in the apartment at Oberkampf"
                    loading="lazy"
                    style="height:auto;">
                </picture>
                </a>

                <a href="/paintings/pingpong/">
                <picture>
                    <source 
                    srcset="/assets/img/pingpong-400.webp 400w,
                            /assets/img/pingpong-800.webp 800w,
                            /assets/img/pingpong-1200.webp 1200w"
                    type="image/webp"
                    sizes="(max-width: 32rem) 100vw, (max-width: 48rem) 50vw, 33vw">
                    <img 
                    src="/assets/img/pingpong-800.png"
                    srcset="/assets/img/pingpong-400.png 400w,
                            /assets/img/pingpong-800.png 800w,
                            /assets/img/pingpong-1200.png 1200w"
                    sizes="(max-width: 32rem) 100vw, (max-width: 48rem) 50vw, 33vw"
                    alt="Ping pong in Brittany"
                    loading="lazy"
                    style="height:auto;">
                </picture>
                </a>

                <a href="/paintings/bee/">
                <picture>
                    <source 
                    srcset="/assets/img/bee-400.webp 400w,
                            /assets/img/bee-800.webp 800w,
                            /assets/img/bee-1200.webp 1200w"
                    type="image/webp"
                    sizes="(max-width: 32rem) 100vw, (max-width: 48rem) 50vw, 33vw">
                    <img 
                    src="/assets/img/bee-800.png"
                    srcset="/assets/img/bee-400.png 400w,
                            /assets/img/bee-800.png 800w,
                            /assets/img/bee-1200.png 1200w"
                    sizes="(max-width: 32rem) 100vw, (max-width: 48rem) 50vw, 33vw"
                    alt="Carnival at the shooting club, 1994"
                    loading="lazy"
                    style="height:auto;">
                </picture>
                </a>

                <a href="/paintings/planteye/">
                <picture>
                    <source 
                    srcset="/assets/img/plant-eye-400.webp 400w,
                            /assets/img/plant-eye-800.webp 800w,
                            /assets/img/plant-eye-1200.webp 1200w"
                    type="image/webp"
                    sizes="(max-width: 32rem) 100vw, (max-width: 48rem) 50vw, 33vw">
                    <img 
                    src="/assets/img/plant-eye-800.png"
                    srcset="/assets/img/plant-eye-400.png 400w,
                            /assets/img/plant-eye-800.png 800w,
                            /assets/img/plant-eye-1200.png 1200w"
                    sizes="(max-width: 32rem) 100vw, (max-width: 48rem) 50vw, 33vw"
                    alt="Houseplants"
                    loading="lazy"
                    style="height:auto;">
                </picture>
                </a>

                <a href="/paintings/valentineoffice/">
                <picture>
                    <source 
                    srcset="/assets/img/valentine-office-400.webp 400w,
                            /assets/img/valentine-office-800.webp 800w,
                            /assets/img/valentine-office-1200.webp 1200w"
                    type="image/webp"
                    sizes="(max-width: 32rem) 100vw, (max-width: 48rem) 50vw, 33vw">
                    <img 
                    src="/assets/img/valentine-office-800.png"
                    srcset="/assets/img/valentine-office-400.png 400w,
                            /assets/img/valentine-office-800.png 800w,
                            /assets/img/valentine-office-1200.png 1200w"
                    sizes="(max-width: 32rem) 100vw, (max-width: 48rem) 50vw, 33vw"
                    alt="Valentine's in the office"
                    loading="lazy"
                    style="height:auto;">
                </picture>
                </a>

                <a href="/paintings/totalcare/">
                <picture>
                    <source 
                    srcset="/assets/img/totalcare-400.webp 400w,
                            /assets/img/totalcare-800.webp 800w,
                            /assets/img/totalcare-1200.webp 1200w"
                    type="image/webp"
                    sizes="(max-width: 32rem) 100vw, (max-width: 48rem) 50vw, 33vw">
                    <img 
                    src="/assets/img/totalcare-800.png"
                    srcset="/assets/img/totalcare-400.png 400w,
                            /assets/img/totalcare-800.png 800w,
                            /assets/img/totalcare-1200.png 1200w"
                    sizes="(max-width: 32rem) 100vw, (max-width: 48rem) 50vw, 33vw"
                    alt="Total Care"
                    loading="lazy"
                    style="height:auto;">
                </picture>
                </a>

                <a href="/paintings/flowerpattern/">
                <picture>
                    <source 
                    srcset="/assets/img/pattern-flowers-square-400.webp 400w,
                            /assets/img/pattern-flowers-square-800.webp 800w,
                            /assets/img/pattern-flowers-square-1200.webp 1200w"
                    type="image/webp"
                    sizes="(max-width: 32rem) 100vw, (max-width: 48rem) 50vw, 33vw">
                    <img 
                    src="/assets/img/pattern-flowers-square-800.png"
                    srcset="/assets/img/pattern-flowers-square-400.png 400w,
                            /assets/img/pattern-flowers-square-800.png 800w,
                            /assets/img/pattern-flowers-square-1200.png 1200w"
                    sizes="(max-width: 32rem) 100vw, (max-width: 48rem) 50vw, 33vw"
                    alt="That blouse"
                    loading="lazy"
                    style="height:auto;">
                </picture>
                </a>

                <a href="/paintings/bastille/">
                <picture>
                    <source 
                    srcset="/assets/img/bastille-400.webp 400w,
                            /assets/img/bastille-800.webp 800w,
                            /assets/img/bastille-1200.webp 1200w"
                    type="image/webp"
                    sizes="(max-width: 32rem) 100vw, (max-width: 48rem) 50vw, 33vw">
                    <img 
                    src="/assets/img/bastille-800.png"
                    srcset="/assets/img/bastille-400.png 400w,
                            /assets/img/bastille-800.png 800w,
                            /assets/img/bastille-1200.png 1200w"
                    sizes="(max-width: 32rem) 100vw, (max-width: 48rem) 50vw, 33vw"
                    alt="Bastille Metro Station"
                    loading="lazy"
                    style="height:auto;">
                </picture>
                </a>

                <a href="/paintings/smiley/">
                    <picture>
                        <source 
                        srcset="/assets/img/smileychantier-paintingonly-400.webp 400w,
                                /assets/img/smileychantier-paintingonly-800.webp 800w,
                                /assets/img/smileychantier-paintingonly-1200.webp 1200w"
                        type="image/webp"
                        sizes="(max-width: 32rem) 100vw, (max-width: 48rem) 50vw, 33vw">
                        <img 
                        src="/assets/img/smileychantier-paintingonly-800.png"
                        srcset="/assets/img/smileychantier-paintingonly-400.png 400w,
                                /assets/img/smileychantier-paintingonly-800.png 800w,
                                /assets/img/smileychantier-paintingonly-1200.png 1200w"
                        sizes="(max-width: 32rem) 100vw, (max-width: 48rem) 50vw, 33vw"
                        alt="Smiley"
                        loading="lazy"
                        style="height:auto;">
                    </picture>
                    </a>

                    <a href="/paintings/sundaymorning/">
                    <picture>
                        <source 
                        srcset="/assets/img/sunday-morning-2-400.webp 400w,
                                /assets/img/sunday-morning-2-800.webp 800w,
                                /assets/img/sunday-morning-2-1200.webp 1200w"
                        type="image/webp"
                        sizes="(max-width: 32rem) 100vw, (max-width: 48rem) 50vw, 33vw">
                        <img 
                        src="/assets/img/sunday-morning-2-800.png"
                        srcset="/assets/img/sunday-morning-2-400.png 400w,
                                /assets/img/sunday-morning-2-800.png 800w,
                                /assets/img/sunday-morning-2-1200.png 1200w"
                        sizes="(max-width: 32rem) 100vw, (max-width: 48rem) 50vw, 33vw"
                        alt="Sunday morning"
                        loading="lazy"
                        style="height:auto;">
                    </picture>
                    </a>

                    <a href="/paintings/serge/">
                    <picture>
                        <source 
                        srcset="/assets/img/serge-400.webp 400w,
                                /assets/img/serge-800.webp 800w,
                                /assets/img/serge-1200.webp 1200w"
                        type="image/webp"
                        sizes="(max-width: 32rem) 100vw, (max-width: 48rem) 50vw, 33vw">
                        <img 
                        src="/assets/img/serge-800.png"
                        srcset="/assets/img/serge-400.png 400w,
                                /assets/img/serge-800.png 800w,
                                /assets/img/serge-1200.png 1200w"
                        sizes="(max-width: 32rem) 100vw, (max-width: 48rem) 50vw, 33vw"
                        alt="Ouch"
                        loading="lazy"
                        style="height:auto;">
                    </picture>
                    </a>

                    <a href="/paintings/flowerpot/">
                    <picture>
                        <source 
                        srcset="/assets/img/flowerpot-400.webp 400w,
                                /assets/img/flowerpot-800.webp 800w,
                                /assets/img/flowerpot-1200.webp 1200w"
                        type="image/webp"
                        sizes="(max-width: 32rem) 100vw, (max-width: 48rem) 50vw, 33vw">
                        <img 
                        src="/assets/img/flowerpot-800.png"
                        srcset="/assets/img/flowerpot-400.png 400w,
                                /assets/img/flowerpot-800.png 800w,
                                /assets/img/flowerpot-1200.png 1200w"
                        sizes="(max-width: 32rem) 100vw, (max-width: 48rem) 50vw, 33vw"
                        alt="Pot de Fleurs"
                        loading="lazy"
                        style="height:auto;">
                    </picture>
                    </a>
                </div>
            </section>
        </div>
    </div>
</body>
</html>